@-webkit-keyframes BodyAnimation {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-moz-keyframes BodyAnimation {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-o-keyframes BodyAnimation {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@keyframes BodyAnimation { 
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

@-webkit-keyframes BodyAnimation {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-moz-keyframes BodyAnimation {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-o-keyframes BodyAnimation {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@keyframes BodyAnimation { 
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

@-webkit-keyframes ShadowAnimation {
	0%   {box-shadow: 10px 20px 45px #4715ff}
	6%   {box-shadow: 10px 20px 45px #cc01cf}
	13%  {box-shadow: 10px 20px 45px #ff4e50}
	20%  {box-shadow: 10px 20px 45px #f9d423}
	26%  {box-shadow: 10px 20px 45px #4b6cb7}
	33%  {box-shadow: 10px 20px 45px #182848}
	40%  {box-shadow: 10px 20px 45px #5f2c82}
	46%  {box-shadow: 10px 20px 45px #49a09d}
	53%  {box-shadow: 10px 20px 45px #134e5e}
	60%  {box-shadow: 10px 20px 45px #71b280}
	66%  {box-shadow: 10px 20px 45px #4776e6}
	73%  {box-shadow: 10px 20px 45px #8e54e9}
	80%  {box-shadow: 10px 20px 45px #16222a}
	86%  {box-shadow: 10px 20px 45px #3a6073}
	93%  {box-shadow: 10px 20px 45px #3ca55c}
	100% {box-shadow: 10px 20px 45px #b5ac49}
	/* 50%{box-shadow: 10px 20px 45px }
	100%{box-shadow: 10px 20px 45px } */
}
@-moz-keyframes ShadowAnimation {
	0%   {box-shadow: 10px 20px 45px #4715ff}
	6%   {box-shadow: 10px 20px 45px #cc01cf}
	13%  {box-shadow: 10px 20px 45px #ff4e50}
	20%  {box-shadow: 10px 20px 45px #f9d423}
	26%  {box-shadow: 10px 20px 45px #4b6cb7}
	33%  {box-shadow: 10px 20px 45px #182848}
	40%  {box-shadow: 10px 20px 45px #5f2c82}
	46%  {box-shadow: 10px 20px 45px #49a09d}
	53%  {box-shadow: 10px 20px 45px #134e5e}
	60%  {box-shadow: 10px 20px 45px #71b280}
	66%  {box-shadow: 10px 20px 45px #4776e6}
	73%  {box-shadow: 10px 20px 45px #8e54e9}
	80%  {box-shadow: 10px 20px 45px #16222a}
	86%  {box-shadow: 10px 20px 45px #3a6073}
	93%  {box-shadow: 10px 20px 45px #3ca55c}
	100% {box-shadow: 10px 20px 45px #b5ac49}
	/* 50%{box-shadow: 10px 20px 45px }
	100%{box-shadow: 10px 20px 45px } */
}
@-o-keyframes ShadowAnimation {
	0%   {box-shadow: 10px 20px 45px #4715ff}
	6%   {box-shadow: 10px 20px 45px #cc01cf}
	13%  {box-shadow: 10px 20px 45px #ff4e50}
	20%  {box-shadow: 10px 20px 45px #f9d423}
	26%  {box-shadow: 10px 20px 45px #4b6cb7}
	33%  {box-shadow: 10px 20px 45px #182848}
	40%  {box-shadow: 10px 20px 45px #5f2c82}
	46%  {box-shadow: 10px 20px 45px #49a09d}
	53%  {box-shadow: 10px 20px 45px #134e5e}
	60%  {box-shadow: 10px 20px 45px #71b280}
	66%  {box-shadow: 10px 20px 45px #4776e6}
	73%  {box-shadow: 10px 20px 45px #8e54e9}
	80%  {box-shadow: 10px 20px 45px #16222a}
	86%  {box-shadow: 10px 20px 45px #3a6073}
	93%  {box-shadow: 10px 20px 45px #3ca55c}
	100% {box-shadow: 10px 20px 45px #b5ac49}
	/* 50%{box-shadow: 10px 20px 45px }
	100%{box-shadow: 10px 20px 45px } */
}
@keyframes ShadowAnimation { 
	0%   {box-shadow: 10px 20px 45px #4715ff}
	6%   {box-shadow: 10px 20px 45px #cc01cf}
	13%  {box-shadow: 10px 20px 45px #ff4e50}
	20%  {box-shadow: 10px 20px 45px #f9d423}
	26%  {box-shadow: 10px 20px 45px #4b6cb7}
	33%  {box-shadow: 10px 20px 45px #182848}
	40%  {box-shadow: 10px 20px 45px #5f2c82}
	46%  {box-shadow: 10px 20px 45px #49a09d}
	53%  {box-shadow: 10px 20px 45px #134e5e}
	60%  {box-shadow: 10px 20px 45px #71b280}
	66%  {box-shadow: 10px 20px 45px #4776e6}
	73%  {box-shadow: 10px 20px 45px #8e54e9}
	80%  {box-shadow: 10px 20px 45px #16222a}
	86%  {box-shadow: 10px 20px 45px #3a6073}
	93%  {box-shadow: 10px 20px 45px #3ca55c}
	100% {box-shadow: 10px 20px 45px #b5ac49}
	/* 50%{box-shadow: 10px 20px 45px }
	100%{box-shadow: 10px 20px 45px } */
}

@-webkit-keyframes SmallShadowAnimation {
	0%   {box-shadow: 6px 6px 6px #4715ff}
	6%   {box-shadow: 6px 6px 6px #cc01cf}
	13%  {box-shadow: 6px 6px 6px #ff4e50}
	20%  {box-shadow: 6px 6px 6px #f9d423}
	26%  {box-shadow: 6px 6px 6px #4b6cb7}
	33%  {box-shadow: 6px 6px 6px #182848}
	40%  {box-shadow: 6px 6px 6px #5f2c82}
	46%  {box-shadow: 6px 6px 6px #49a09d}
	53%  {box-shadow: 6px 6px 6px #134e5e}
	60%  {box-shadow: 6px 6px 6px #71b280}
	66%  {box-shadow: 6px 6px 6px #4776e6}
	73%  {box-shadow: 6px 6px 6px #8e54e9}
	80%  {box-shadow: 6px 6px 6px #16222a}
	86%  {box-shadow: 6px 6px 6px #3a6073}
	93%  {box-shadow: 6px 6px 6px #3ca55c}
	100% {box-shadow: 6px 6px 6px #b5ac49}
	/* 50%{box-shadow: 10px 20px 45px }
	100%{box-shadow: 10px 20px 45px } */
}
@-moz-keyframes SmallShadowAnimation {
	0%   {box-shadow: 6px 6px 6px #4715ff}
	6%   {box-shadow: 6px 6px 6px #cc01cf}
	13%  {box-shadow: 6px 6px 6px #ff4e50}
	20%  {box-shadow: 6px 6px 6px #f9d423}
	26%  {box-shadow: 6px 6px 6px #4b6cb7}
	33%  {box-shadow: 6px 6px 6px #182848}
	40%  {box-shadow: 6px 6px 6px #5f2c82}
	46%  {box-shadow: 6px 6px 6px #49a09d}
	53%  {box-shadow: 6px 6px 6px #134e5e}
	60%  {box-shadow: 6px 6px 6px #71b280}
	66%  {box-shadow: 6px 6px 6px #4776e6}
	73%  {box-shadow: 6px 6px 6px #8e54e9}
	80%  {box-shadow: 6px 6px 6px #16222a}
	86%  {box-shadow: 6px 6px 6px #3a6073}
	93%  {box-shadow: 6px 6px 6px #3ca55c}
	100% {box-shadow: 6px 6px 6px #b5ac49}
	/* 50%{box-shadow: 10px 20px 45px }
	100%{box-shadow: 10px 20px 45px } */
}
@-o-keyframes SmallShadowAnimation {
	0%   {box-shadow: 6px 6px 6px #4715ff}
	6%   {box-shadow: 6px 6px 6px #cc01cf}
	13%  {box-shadow: 6px 6px 6px #ff4e50}
	20%  {box-shadow: 6px 6px 6px #f9d423}
	26%  {box-shadow: 6px 6px 6px #4b6cb7}
	33%  {box-shadow: 6px 6px 6px #182848}
	40%  {box-shadow: 6px 6px 6px #5f2c82}
	46%  {box-shadow: 6px 6px 6px #49a09d}
	53%  {box-shadow: 6px 6px 6px #134e5e}
	60%  {box-shadow: 6px 6px 6px #71b280}
	66%  {box-shadow: 6px 6px 6px #4776e6}
	73%  {box-shadow: 6px 6px 6px #8e54e9}
	80%  {box-shadow: 6px 6px 6px #16222a}
	86%  {box-shadow: 6px 6px 6px #3a6073}
	93%  {box-shadow: 6px 6px 6px #3ca55c}
	100% {box-shadow: 6px 6px 6px #b5ac49}
	/* 50%{box-shadow: 10px 20px 45px }
	100%{box-shadow: 10px 20px 45px } */
}
@keyframes SmallShadowAnimation { 
	0%   {box-shadow: 6px 6px 6px #4715ff}
	6%   {box-shadow: 6px 6px 6px #cc01cf}
	13%  {box-shadow: 6px 6px 6px #ff4e50}
	20%  {box-shadow: 6px 6px 6px #f9d423}
	26%  {box-shadow: 6px 6px 6px #4b6cb7}
	33%  {box-shadow: 6px 6px 6px #182848}
	40%  {box-shadow: 6px 6px 6px #5f2c82}
	46%  {box-shadow: 6px 6px 6px #49a09d}
	53%  {box-shadow: 6px 6px 6px #134e5e}
	60%  {box-shadow: 6px 6px 6px #71b280}
	66%  {box-shadow: 6px 6px 6px #4776e6}
	73%  {box-shadow: 6px 6px 6px #8e54e9}
	80%  {box-shadow: 6px 6px 6px #16222a}
	86%  {box-shadow: 6px 6px 6px #3a6073}
	93%  {box-shadow: 6px 6px 6px #3ca55c}
	100% {box-shadow: 6px 6px 6px #b5ac49}
	/* 50%{box-shadow: 10px 20px 45px }
	100%{box-shadow: 10px 20px 45px } */
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    height: 3%;
    padding: 7px 15px;
    background-color: #777;
    font-family: "Open Sans", Tahoma, sans-serif;
    color: #EDEDED;
    overflow: hidden;
    z-index: 999;
    /* box-shadow: #171; */
	border-radius: 16px;
    -webkit-animation: ShadowAnimation 35s alternate infinite;
    -moz-animation: ShadowAnimation 35s alternate infinite;
    -o-animation: ShadowAnimation 35s alternate infinite;
    animation: ShadowAnimation 35s alternate infinite;
}

nav span, #caption span, ul {
    font-weight: bold;
	/* box-shadow: 0 0 8px #171; */
    -webkit-animation: SmallShadowAnimation 35s alternate infinite;
    -moz-animation: SmallShadowAnimation 35s alternate infinite;
    -o-animation: SmallShadowAnimation 35s alternate infinite;
    animation: SmallShadowAnimation 35s alternate infinite;
}

nav span, #caption span {
    border-radius: 6px;
}

body {
	margin-top: 35px; 
	font-family: "Open Sans", Tahoma, sans-serif; 
	overflow-y: auto;
	/* background: linear-gradient(270deg, 
	#4715ff, #cc01cf, 
	#ff4e50, #f9d423, 
	#4b6cb7, #182848, 
	#5f2c82, #49a09d, 
	#134e5e, #71b280, 
	#4776e6, #8e54e9, 
	#16222a, #3a6073, 
	#3ca55c, #b5ac49);
    background-size: 3200% 3200%;
    -webkit-animation: BodyAnimation 35s linear infinite;
    -moz-animation: BodyAnimation 35s linear infinite;
    -o-animation: BodyAnimation 35s linear infinite;
    animation: BodyAnimation 35s linear infinite; */
}

body::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}
body::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
body::-webkit-scrollbar-corner {
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    /* background-color: #cecece; */
    background-color: rgba(255,255,255,0.4);
    -webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.10), inset 0 -1px 0 rgba(255,255,255,0.07);
}

body::-moz-scrollbar {
    width: 16px;
    height: 16px;
}
body::-moz-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
body::-moz-scrollbar-corner {
    background-color: transparent;
}
body::-moz-scrollbar-thumb {
    /* background-color: #cecece; */
    background-color: rgba(255,255,255,0.4);
    -moz-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.10), inset 0 -1px 0 rgba(255,255,255,0.07);
}

body::-o-scrollbar {
    width: 16px;
    height: 16px;
}
body::-o-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
body::-o-scrollbar-corner {
    background-color: transparent;
}
body::-o-scrollbar-thumb {
    /* background-color: #cecece; */
    background-color: rgba(255,255,255,0.4);
    box-shadow: inset 1px 1px 0 rgba(255,255,255,0.10), inset 0 -1px 0 rgba(255,255,255,0.07);
}

body > h3 {
    margin: 40px 11px;
}

ul {
    top: 0;
    left: 18%;
    margin: 5px;
    position: fixed;
    display: block;
    text-align: center;
    padding: 3px 13px;
    background-color: #EDEDED;
    color: #777;
    list-style: none;
    border-radius: 15px;
}

li {
	display: inline; 
	cursor:pointer;
}

#showContent {
	border:none; 
	height:100%; 
	width:100%;
}

#newsFeed {
    float: left;
    height: 540px;
    width: 640px;
    overflow-y: auto;
	padding: 0 15px 0 15px;
    /* box-shadow: 0 0 8px #171; */
    -webkit-animation: SmallShadowAnimation 35s alternate infinite;
    -moz-animation: SmallShadowAnimation 35s alternate infinite;
    -o-animation: SmallShadowAnimation 35s alternate infinite;
    animation: SmallShadowAnimation 35s alternate infinite;
    border-radius: 15px;
    margin-left: 60px;
}

#newsFeed p {
	font-family: "Open Sans", Tahoma, sans-serif;
	font-size: 14px; 
	color: #777; 
}

#caption {
    width: 620px;
    /* padding-left: 15px; */
    padding: 13px 15px;
    /* box-shadow: 0 0 8px #171; */
    -webkit-animation: SmallShadowAnimation 35s alternate infinite;
    -moz-animation: SmallShadowAnimation 35s alternate infinite;
    -o-animation: SmallShadowAnimation 35s alternate infinite;
    animation: SmallShadowAnimation 35s alternate infinite;
    /* border-radius: 15px; */
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: -16px;
    z-index: 2;
    position: fixed;
    /* bottom: 118px; */
    /* left: 0; */
    /* width: 100%; */
    /* padding: 1px; */
    background: rgba(0,0,0,0.6);
}

#caption span {
	font-family: "Open Sans", Tahoma, sans-serif;
	font-size: 16px; 
	color: #EDEDED;
}

#newsFeed a {
    text-decoration: none;
}

/*
 * Marcação do slideshow
 */
#slide { 
	width: 650px;
	overflow: hidden; 
	height: 540px;
	margin: 50px auto;
	/* box-shadow: 0 0 8px #171; */
    -webkit-animation: SmallShadowAnimation 35s alternate infinite;
    -moz-animation: SmallShadowAnimation 35s alternate infinite;
    -o-animation: SmallShadowAnimation 35s alternate infinite;
    animation: SmallShadowAnimation 35s alternate infinite;
	position: relative;
	border-radius: 15px;
}

#slide img {
	position: absolute;
	z-index: 1;
	display: none;
	left: 0;
    max-width: 100%;
    max-height: 100%;
}

#slide p {
	z-index:2;
	position: absolute; 
	bottom: -14px;
	left: 0;
	width: 100%;
	padding: 10px; 
	font-family: "Open Sans", Tahoma, sans-serif;
	font-size: 14px; 
	background: rgba(0,0,0,0.6);
	color: #EDEDED;
}